div.background{    
    background-image: url('https://img.freepik.com/free-photo/lifestyle-people-living-camping_23-2149733141.jpg?w=740&t=st=1664550999~exp=1664551599~hmac=7ea032418b2159de965eb3e3dcaf6ea73cf1afac4a0cbefe19f5517ade1747ec');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
div.title{
    padding-top: 20%;
    height: 60%;
    align-content: center;
}

.text{
    color: antiquewhite;
}