.Landingpage{
    background-image: url('https://i.pinimg.com/564x/23/99/5e/23995e223c2d7f8f8d77230ec413cccb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    height: 100%;
}