.navbar {
    background-color: #13172c;
    width: 20%;
    height: auto;
    position: fixed;
    padding-top: 70px;
}

.filters {
    display: inline-table;
    width: 50%;
    height: 100%;
    padding-top: 30px;
    margin: 20px;
    color: #ffff;
}

.routeCreateButton {
    transition-duration: 0.4s;
    color: #000000;
    background-color: #f59c2d;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 200px;
    padding: 10px;
    width: 70%;
    border: none;
}

.routeCreateButton:hover {
    color: #ffff;
    background-color: #000000;
}

.selectFilters {
    width: 100%;
    border: 2px solid #f59c2d;
    border-radius: 15px;
}