ul{
    list-style-type: none;
    overflow-x: auto;
}
li{
    cursor: pointer;
    display: inline;
    border-radius: 20px;
    margin-right: 5px;
    padding:5px 10px;
	color:#000000;
	background: eeeeee;
	text-decoration: none;
}